In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

#importing desired libraries

In [ ]:
pip install openpyxl --upgrade

# installing desired module

In [2]:
this_dir=Path(".").resolve()
this_dir

#to check the path of program

WindowsPath('C:/Users/kumar/OneDrive/Documents/Ayush/Practice python')

In [4]:
datas=[]

# To reading excel file in "Files_assesment" folder
for path in (this_dir/"Files_assesment").rglob("*.xlsx*"):
    #showing the read files
    print(f"Reading {path.name}")
    df=pd.read_excel(path, sheet_name= None)
    df=pd.concat(df.values(),ignore_index=True)
    df.rename(columns={df.columns[2]:"message"},inplace=True)
    #df['date'].dtype
    df['date']=pd.to_datetime(df['date'])
    df.dropna(how="any", inplace=True)
    df.reset_index(drop=True,inplace=True)
    datas.append(df)

Reading email_campaign.xlsx
Reading sms_campaign.xlsx
Reading whatsapp_campaign.xlsx

C:\Users\kumar\AppData\Local\Temp\ipykernel_13456\3181278647.py:11: UserWarning: Parsing '15-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date']=pd.to_datetime(df['date'])
C:\Users\kumar\AppData\Local\Temp\ipykernel_13456\3181278647.py:11: UserWarning: Parsing '15-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date']=pd.to_datetime(df['date'])
C:\Users\kumar\AppData\Local\Temp\ipykernel_13456\3181278647.py:11: UserWarning: Parsing '15-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date']=pd.to_datetime(df['date'])

In [5]:
data_x=pd.concat(datas,axis=0)

#Concating all files in list

In [6]:
pd.set_option('display.max_rows',None)

In [7]:
data_x.reset_index(drop=True,inplace=True)
data_x

#resent index to show the end results

         mobile       date                       message
0    1234567890 2022-01-09            personal loan @11%
1    2345678901 2022-01-09  Fixed Deposit Interest 7.25%
2    3456789012 2022-02-09                Home Loans @8%
3    4567890123 2022-09-15            personal loan @11%
4    5678901234 2022-09-15  Fixed Deposit Interest 7.25%
5    1111122222 2022-09-15                Home Loans @8%
6    1234123456 2022-09-15            personal loan @11%
7    2342342345 2022-09-15  Fixed Deposit Interest 7.25%
8   33333444555 2022-09-15                Home Loans @8%
9    1234567890 2022-01-09            personal loan @11%
10   2345678901 2022-01-09  Fixed Deposit Interest 7.25%
11   3456789012 2022-02-09                Home Loans @8%
12   4567890123 2022-09-15            personal loan @11%
13   5678901234 2022-09-15  Fixed Deposit Interest 7.25%
14   1111122222 2022-09-15                Home Loans @8%
15   5555566666 2022-01-09            personal loan @11%
16   2345678901 2022-01-09  Fixed Deposit Interest 7.25%
17   3456789012 2022-02-09                Home Loans @8%
18   4567890123 2022-09-15            personal loan @11%
19   5678901234 2022-09-15  Fixed Deposit Interest 7.25%
20   1111122222 2022-09-15                Home Loans @8%

In [8]:
data_x.shape

#checking shape of DataFrame

(21, 3)